.addTodoForm {
  padding: 0;
  margin-bottom: 0.75rem;
  display: none;

  &_shown {
    display: block;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__showFormButton {
    background-color: transparent;
    border-radius: 50%;
    border-width: 1px;
    font-size: 1.2rem;
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__fields {
    margin: 0;
    padding: 0;
    border: none;
  }


  &__fieldsList {
    list-style-type: none;
  }

  &__fieldWrapper {
    margin-bottom: 0.75rem;
  }

  &__label {
    display: block;
    margin-bottom: 0.45rem;
  }

  &__textInput {
    max-width: 300px;
    width: 100%;
    font-size: 1rem;
    padding: 0.35em 0.25rem;
    font-weight: 600;
    outline: 1px solid var(--main-content-border);
    opacity: 0.7;
    border: none;
    border-radius: 5px;

    &::placeholder {
      font-weight: 500;
    }

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline-width: 2px;
      opacity: 1;
    }
  }
}