@use './palette';
@use './fonts';

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

._visually-hidden {
  position: fixed;
  transform: scale(0);
}